html,body{
  margin: 0px;
  padding: 0px;
  height: 100%;
}
ul,li{margin:0px;padding:0px;list-style: none;}

.router-link-active{color:#fff;background:deepskyblue;}

.is-active{color:#fff;  background: hotpink; }

a{text-decoration: none;}
a:link,a:visited,a:hover,a:active{color:#B1B1B1;}

.clear{zoom:1;}
.clear:after{display: block;content:"";height:0;clear:both;}
